@import './../../../scss/variable.scss';
@import './../../../scss/mixins.scss';


.second__box {
    background-color: $lightgray;
    width: 98%;
    height: 51px;
    border-radius: 10px;
    display: flex;
    direction: rtl;
    align-items: center;
    justify-self: start;
    flex-wrap: wrap;
    margin-top: 15px;

    .sort__icon {
        margin-right: 10px;

        img {
            width: 35px;
            height: 35px;
            margin-left: 7px;
            @include mq(550) {
                display: none;      
                                                }
        }

        span {
            font-size: 14px;
            @include mq(1000) {
display: none;      
                                }
        }
    }

    .sort__name {
        display: flex;
        direction: rtl;
        align-items: center;
        justify-self: start;

        .number5{
            @include mq(686) {
                display: none;                                             }
        }
        .number3{
            @include mq(474) {
                display: none;                                             }
        }
        .number2{
            @include mq(400) {
                display: none;                                             }
        }

        span {
            margin-right: 10px;
            margin-left: 2px;
            font-size: 13px;
            cursor: pointer;
            padding: 6px;
            background-color: white;
            border-radius: 10px;

            &:hover {


                box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
            }


        }
    }
}